<div class="w-full">
    <a href="inmueble/<%=data.idInmueble%>">
        <div class="rounded-lg border border-gray-300 hover:scale-105 transition duration-150">
            <img src="/get_bucket_img?image=<%=data.img%>" class="w-full h-44 rounded-t-lg">
            <div class="px-5 py-3 h-full">
                <h3 class="text-lg font-semibold"> <%= data.nombreInmueble %>
                </h3>
                <div class="grid grid-cols-2 gap-2 py-2">
                    <div>
                        <i class="fa-solid fa-expand"></i> <%= data.m2TerrenoInmueble %> m2
                    </div>
                    <div>
                        <i class="fa-solid fa-house"></i> <%= data.m2ConstruidoInmueble %> m2
                    </div>
                    <div>
                        <i class="fa-solid fa-bath invisible"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-car invisible"></i>
                    </div>
                </div>
                <% const formatter = new Intl.NumberFormat('es-MX', {maximumFractionDigits: 0, style: 'currency',currency: 'MXN'}); %>
                <% if(data.precioVentaInmueble != null){ %>
                    <h3 class="text-lg font-medium"> <%= formatter.format(data.precioVentaInmueble) %> MXN</h3> 
                <% } %>
                <%if(data.precioRentaInmueble != null){%>
                    <h3 class="text-lg font-medium"> <%= formatter.format(data.precioRentaInmueble) %> MXN / Mes</h3>
                <% } %>
            </div>
        </div>
    </a>
</div>