<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <%- include('partials/navbar') %>
    
    <% for (let inmueble of inmuebles) { %>

        <!-- Pictures Form -->

        <div class="px-10 py-5 grid grid-cols-3">
            <div class="col-span-2">
                <h2 class="text-lg font-semibold">
                    Imagen Principal
                </h2>

                <!-- Main Picture Form -->

                <form action="">
                    <div class="flex items-center text-center justify-center w-full p-4">
                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                            <div class="flex flex-col items-center justify-center pt-8 pb-5">
                                <i class="fa-solid fa-cloud-arrow-up fa-2xl text-gray-500"></i>
                                <br>
                                <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Selecciona</span> la imagen principal del inmueble.</p>
                                <p class="text-xs text-gray-500">PNG, JPG o JPEG</p>
                            </div>
                            <input id="dropzone-file" type="file" class="hidden"/>
                        </label>
                    </div>
                </form>

            </div>
            <div>
                <h2 class="text-lg font-semibold">
                    Imágenes Secundarias
                </h2>

                <!-- Secundary Pictures Form -->

                <form action="">
                    <div class="flex items-center text-center justify-center w-full p-4">
                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                            <div class="flex flex-col items-center justify-center pt-8 pb-5">
                                <i class="fa-solid fa-cloud-arrow-up fa-2xl text-gray-500"></i>
                                <br>
                                <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Selecciona</span> las imágenes secundarias del inmueble.</p>
                                <p class="text-xs text-gray-500">PNG, JPG o JPEG</p>
                            </div>
                            <input id="dropzone-file" type="file" class="hidden"/>
                        </label>
                    </div>
                </form>

            </div>
        </div>

        <!-- Information Form -->

        <form id="cuerpoInmueble" name="cuerpoInmueble" action="/dashboard/alta/inmueble/cuerpoCasa/<%=inmueble.idInmueble%>" method="POST">

            <!-- Información General -->

            <div class="px-10 pb-12 grid grid-cols-2 space-x-8">
                <div class="space-y-2">
                    <label for="titulo" class="text-lg font-semibold">Título</label>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                        type="text" id="titulo" name="titulo" placeholder="Casa en Álamos" maxlength="30" required/>
                </div>
                <div class="space-y-2">
                    <label for="linkVideo" class="text-lg font-semibold">Enlace al Vídeo de Youtube</label>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                        type="text" id="linkVideo" name="linkVideo" placeholder="www.youtube.com" required/>
                </div>
            </div>

            <!-- Detalles -->

            <% if (inmueble.idCategoria == 1) { %>
                <%- include('partials/formsInmuebles/casaDepartamento') %>
            <% } else if (inmueble.idCategoria == 2) { %>
                <%- include('partials/formsInmuebles/casaDepartamento') %>
            <% } else if (inmueble.idCategoria == 3) { %>
                <%- include('partials/formsInmuebles/local') %>
            <% } else if (inmueble.idCategoria == 4) { %>
                <%- include('partials/formsInmuebles/terreno') %>
            <% } else if (inmueble.idCategoria == 5) { %>
                <%- include('partials/formsInmuebles/bodega') %>
            <% } else if (inmueble.idCategoria == 6) { %>
                <%- include('partials/formsInmuebles/oficina') %>
            <% } else if (inmueble.idCategoria == 7) { %>
                <%- include('partials/formsInmuebles/otro') %>
            <% } %>  

            <!-- Dirección Inmueble -->

            <div class="p-10 flex justify-center">
                <div class="grid grid-cols-2 space-x-5 gap-8">
                    <div class="space-y-5">
                        <div class="space-y-2">
                            <label for="titulo" class="text-lg font-semibold">Dirección de la Propiedad</label>
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="text" id="titulo" name="titulo" placeholder="Condesa de Barry 305" maxlength="30" required/>
                        </div>
                    </div>
                    <div class="space-y-2">
                        <label for="titulo" class="text-lg font-semibold">Link de “Embed a Map” en Google Maps</label>
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="text" id="titulo" name="titulo" placeholder="iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12617.262388400684!2d-100.4082022221727!3d20.611509759670554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ae83751a45d%3A0x4fa6ee69f6b64f3a!2sTecnol%C3%B3gico%20de%20Monterrey!5e0!3m2!1ses-419!2smx!4v1682632411233!5m2!1ses-419!2smx'" maxlength="30" required/>
                    </div>
                    
                </div>
            </div>
        </form>

        <!-- Buttons Section -->

        <div class="px-10 pb-12 flex justify-evenly">
            <button class="px-5 py-2 w-1/3 rounded-lg text-base text-white font-medium bg-red-600 hover:font-medium hover:bg-red-700">
                Cancelar
            </button>
            <button class="px-5 py-2 w-1/3 rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700 btnSubmit">
                Registrar
            </button>
        </div>
    <% } %>

    <!-- Enlazar con la biblioteca de jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>

    <script>
        function enviarFormulario(e){
            e.preventDefault();
        }
    </script>

    <script type="text/javascript">   
        $(document).on("click", ".btnSubmit", function(){		            
            $("#cuerpoInmueble").submit();
        });
    </script>
            <script type="text/javascript">
            $(document).ready(function(){
        $('.form-checkbox').change(function(){
            if($(this).is(':checked')){
            $('.form-checkbox').not(this).prop('disabled',true);
            }
            else{
            $('.form-checkbox').prop('disabled',false);
            }
        });
        });

    </script>

    <%- include("partials/footer") %>

</body>
</html>