<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->

    <div class="bg-cover w-full" style="background-image: url(img/main_img.jpg)">
        <%- include('partials/navbar') %>
        <div class="px-10 pb-10 lg:grid lg:grid-cols-3 md:flex flex-col">
            <!-- Slogan Section -->
            <div class="px-20 pt-3 pb-8 md:p-20 text-center">
                <h1 class="text-5xl font-extrabold">Tu patrimonio, en manos expertas</h1>
            </div>
            <!-- SearchBar Section -->
            <div class="col-span-2 text-gray-600 flex flex-col justify-center md:px-12 md:pb-10">
                <div class="flex justify-center">
                    <button class="px-5 py-2 bg-gray-800 text-base text-white font-medium rounded-tl-lg hover:font-semibold hover:bg-gray-700">
                        Rentar
                    </button>
                    <button class="px-5 py-2 ml-2 bg-gray-800 text-base text-white font-medium rounded-tr-lg hover:font-semibold hover:bg-gray-700">
                        Comprar
                    </button>
                </div>
                <form>
                    <div class="flex justify-center">
                        <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-base font-medium text-center text-white bg-gray-800 rounded-l-lg hover:font-semibold hover:bg-gray-700" type="button">
                            Tipo<i class="ml-2 fa-solid fa-chevron-down"></i>
                        </button>
                        <input class="w-full border border-gray-300 bg-white h-12 px-5 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800" placeholder="Ingresa tu búsqueda (ej: Juriquilla)">
                        <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-base font-semibold text-center text-white bg-gray-800 rounded-r-lg hover:font-semibold hover:bg-gray-700" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Properties Section -->
    <div class="p-10 md:px-10 md:py-8 lg:py-10 flex-col justify-center">
        <div>
            <h2 class="pb-7 lg:py-10 md:py-8 text-4xl font-bold lg:flex lg:justify-center text-center">
                ¡Explora nuestras nuevas propiedades!
            </h2>
        </div>
        <!-- Cards Section -->
        <div class="space-y-7 md:space-y-0 md:py-8 md:grid md:grid-cols-2 md:gap-10 lg:py-10 lg:flex lg:flex-row lg:justify-evenly">
            <% if(inmuebles.length > 0){ %>
                <% inmuebles.forEach(inmueble=>{ %>
                    <!-- 1=casa; 2=depto; 3=local; 4=terreno; 5=bodega; 6=oficina; 7=otro -->
                    <% if(inmueble.idCategoria == 1 || inmueble.idCategoria == 2){ %>
                        <%- include('partials/tarjetasHome/tarjetaCasaDepartamento', {data: inmueble}) %>
                    <% } else if(inmueble.idCategoria == 3 || inmueble.idCategoria == 6){ %>
                        <%- include('partials/tarjetasHome/tarjetaLocalOficina', {data: inmueble}) %>
                    <% } else if(inmueble.idCategoria == 4 || inmueble.idCategoria == 7){ %>
                        <%- include('partials/tarjetasHome/tarjetaTerrenoOtro', {data: inmueble}) %>
                    <% } else if (inmueble.idCategoria == 5){ %>
                        <%- include('partials/tarjetasHome/tarjetaBodega', {data: inmueble}) %>
                    <%}%>
                <% }); %>
            <% } else { %>
                <p class="text-center text-lg font-bold">No hay ningún inmueble por el momento</p>
            <% }; %>
        </div>
    </div>

    <!-- Features Section -->

    <div class="bg-sky-950 lg:grid lg:grid-cols-2 md:flex md:flex-col">
        <div class="px-16 py-10">
            <h2 class="py-10 text-4xl font-bold text-white">
                Encuentra tu lugar perfecto
            </h2>
            <p class="text-base text-white">
                En Kiara, ofrecemos una experiencia excepcional de compra o renta de inmuebles, gracias a nuestro equipo de profesionales comprometidos en brindarle el mejor servicio posible. Con nuestros conocimientos del mercado inmobiliario, elegirnos será la mejor decisión que pueda tomar.
            </p>
            <!-- Properties Section -->
            <div class="grid grid-cols-2 px-2 py-14 gap-14">
                <div class="p-5 rounded-lg bg-white border border-gray-300 flex flex-col">
                    <div class="flex justify-center">
                        <!-- <i class="fa-solid fa-building fa-lg mr-3"></i> -->
                        <p class="font-medium">
                            Departamentos
                        </p>
                    </div>
                    <button class="mt-5 px-5 py-2 text-white font-medium rounded-full bg-gray-800 hover:font-semibold border hover:bg-gray-700">
                        Ver
                    </button>
                </div>
                <div class="p-5 rounded-lg bg-white border border-gray-300 flex flex-col">
                    <div class="flex justify-center">
                        <!-- <i class="fa-solid fa-house fa-lg mr-3"></i> -->
                        <p class="font-medium">
                            Casas
                        </p>
                    </div>
                    <button class="mt-5 px-5 py-2 text-white font-medium rounded-full bg-gray-800 hover:font-semibold border hover:bg-gray-700">
                        Ver
                    </button>
                </div>
                <div class="p-5 rounded-lg bg-white border border-gray-300 flex flex-col">
                    <div class="flex justify-center">
                        <!-- <i class="fa-solid fa-city fa-lg mr-3"></i> -->
                        <p class="font-medium">
                            Oficinas
                        </p>
                    </div>
                    <button class="mt-5 px-5 py-2 text-white font-medium rounded-full bg-gray-800 hover:font-semibold border hover:bg-gray-700">
                        Ver
                    </button>
                </div>
                <div class="p-5 rounded-lg bg-white border border-gray-300 flex flex-col">
                    <div class="flex justify-center">
                        <!-- <i class="fa-solid fa-shop fa-lg mr-3"></i> -->
                        <p class="font-medium">
                            Locales
                        </p>
                    </div>
                    <button class="mt-5 px-5 py-2 text-white font-medium rounded-full bg-gray-800 hover:font-semibold border hover:bg-gray-700">
                        Ver
                    </button>
                </div>
            </div>
        </div>
        <div class="bg-cover" style="background-image: url(img/features_img.jpg);">
            <!-- <img src="img/features_img.jpg" class="w-full h-96 bg-cover"> -->
        </div>
    </div>

    <!-- Process Section -->
    <div class="p-20">
        <div class="flex justify-center">
            <h2 class="text-4xl font-bold text-center">
                ¿Te interesa vender o rentar tu propiedad?
            </h2>
        </div>
        <div class="lg:grid lg:grid-cols-3 place-items-center pt-12 md:flex md:flex-col space-y-5 md:space-y-12 md:text-center">
            <div class="hover:scale-105 transition duration-150">
                <img src="img/process1_img.png" class="">
                <p>
                    <span class="underline underline-offset-4">Contacta</span> a uno de nuestros agentes
                </p>
            </div>
            <div class="hover:scale-105 transition duration-150">
                <img src="img/process2_img.png" class="">
                <p class="lg:pl-16">
                    Prepara tu <span class="underline underline-offset-4">documentación</span>
                </p>
            </div>
            <div class="hover:scale-105 transition duration-150">
                <img src="img/process3_img.png" class="">
                <p class="pl-5">
                    Visualiza el <span class="underline underline-offset-4">seguimiento</span> de tu proceso
                </p>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>

</body>
</html>