<%- include("partials/head") %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- NavBar Section -->

    <div class="bg-white">
        <%- include("partials/navbar") %>
    </div>

    <!-- Heading Section -->
    <% for (let inmueble of inmuebles) { %>
        
        <!-- Details Section -->
        <div class="p-12 bg-sky-950 text-white space-y-6">
            <% if (idRol == 1 || idRol == 2) { %>
                <a href="/inmueble/editarInmueble/<%=inmueble.idInmueble%>" class="flex flex-col items-end justify-center">
                    <div class="bg-white text-sky-950 py-2 px-2 flex items-center justify-center rounded-full w-auto h-8 hover:scale-105 transition duration-150">
                        <h3>Editar Propiedad</h3><i class="fa-solid fa-pencil px-2"></i>
                    </div>
                </a>
            <% } %>
            
            <div class="md:hidden grid grid-cols-2">
                <div class="flex flex-col justify-center space-y-2">
                    <% const formatter = new Intl.NumberFormat('es-MX', {maximumFractionDigits: 0, style: 'currency',currency: 'MXN'}) %>
                    <% if (inmueble.precioVentaInmueble != 0 && inmueble.precioRentaInmueble != 0) { %>
                        <h3 class="text-lg font-semibold text-center">Renta: <%= formatter.format(inmueble.precioRentaInmueble) %> /mes</h3>
                        <h3 class="text-lg font-semibold text-center">Venta: <%= formatter.format(inmueble.precioVentaInmueble) %></h3>
                    <% } else if(inmueble.precioRentaInmueble != 0 && inmueble.precioVentaInmueble == 0) { %>
                        <h3 class="text-lg font-semibold text-center">Renta: <%= formatter.format(inmueble.precioRentaInmueble) %> /mes</h3>
                    <% } else if(inmueble.precioVentaInmueble != 0 && inmueble.precioRentaInmueble == 0) { %>  
                        <h3 class="text-lg font-semibold text-center">Venta: <%= formatter.format(inmueble.precioVentaInmueble) %></h3>
                    <% } %>
                    <div class="flex text-black text-center justify-evenly">
                        <div class="px-5 py-2 rounded-full bg-white">
                            <% if(inmueble.idTipoMovimiento == 1){ %>
                                <p>Venta</p>
                            <% } else if(inmueble.idTipoMovimiento == 2) { %>
                                <p>Renta</p>
                            <% } else if(inmueble.idTipoMovimiento == 3) { %>
                                <p>Venta/Renta</p>
                            <% } %>
                        </div>
                        <div class="px-5 py-2 rounded-full bg-white">
                            <% if(inmueble.idCategoria == 1){ %>
                                <p>Casa</p>
                            <% } else if(inmueble.idCategoria == 2) { %>
                                <p>Departamento</p>
                            <% } else if(inmueble.idCategoria == 3) { %>
                                <p>Local</p>
                            <% } else if(inmueble.idCategoria == 4) { %>
                                <p>Terreno</p>
                            <% } else if(inmueble.idCategoria == 5) { %>
                                <p>Bodega</p>
                            <% } else if(inmueble.idCategoria == 6) { %>
                                <p>Oficina</p>
                            <% } else if(inmueble.idCategoria == 7) { %>
                                <p>Otro</p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- Checa dependiendo de la Categoria, que amenidades son las principales -->
                <% if (inmueble.idCategoria == 1 || inmueble.idCategoria == 2) { %>
                    <%- include ('partials/amenidades/casaDepartamento', {inmueble: inmueble}) %>
                <% } else if (inmueble.idCategoria == 3 ) { %>
                    <%- include('partials/amenidades/localOficina', {inmueble: inmueble}) %>
                <% } else if (inmueble.idCategoria == 4 || inmueble.idCategoria == 7) { %>
                    <%- include ('partials/amenidades/terrenoOtro', {inmueble: inmueble}) %>
                <% } else if (inmueble.idCategoria == 5) { %>
                    <%- include ('partials/amenidades/bodega', {inmueble: inmueble}) %>
                <% } %>
            </div>
            <div class="md:hidden space-y-2">
                <h2 class="text-2xl font-bold">
                    Lo que ofrece
                </h2>
                <%- include("partials/amenidades/amenidadesExtra", {inmueble: inmueble}) %>
            </div>
            <div class="hidden md:grid md:grid-cols-2">
                <div class="flex flex-col justify-center space-y-2">
                    <div class="flex flex-col justify-center space-y-2">
                        <% if (inmueble.precioVentaInmueble != 0 && inmueble.precioRentaInmueble != 0) { %>
                            <h3 class="text-lg font-semibold text-center">Renta: <%= formatter.format(inmueble.precioRentaInmueble) %> /mes</h3>
                            <h3 class="text-lg font-semibold text-center">Venta: <%= formatter.format(inmueble.precioVentaInmueble) %></h3>
                        <% } else if(inmueble.precioRentaInmueble != 0 && inmueble.precioVentaInmueble == 0) { %>
                            <h3 class="text-lg font-semibold text-center">Renta: <%= formatter.format(inmueble.precioRentaInmueble) %> /mes</h3>
                        <% } else if(inmueble.precioVentaInmueble != 0 && inmueble.precioRentaInmueble == 0) { %>  
                            <h3 class="text-lg font-semibold text-center">Venta: <%= formatter.format(inmueble.precioVentaInmueble) %></h3>
                        <% } %>
                        <div class="flex text-black text-center md:justify-evenly lg:space-x-12 lg:justify-center">
                            <div class="px-5 py-2 md:w-32 lg:w-40 rounded-full bg-white">
                                <% if(inmueble.idTipoMovimiento == 1){ %>
                                    <p>Venta</p>
                                <% } else if(inmueble.idTipoMovimiento == 2) { %>
                                    <p>Renta</p>
                                <% } else if(inmueble.idTipoMovimiento == 3) { %>
                                    <p>Venta/Renta</p>
                                <% } %>
                            </div>
                            <div class="px-5 py-2 md:w-32 lg:w-40 rounded-full bg-white">
                                <% if(inmueble.idCategoria == 1){ %>
                                    <p>Casa</p>
                                <% } else if(inmueble.idCategoria == 2) { %>
                                    <p>Departamento</p>
                                <% } else if(inmueble.idCategoria == 3) { %>
                                    <p>Local</p>
                                <% } else if(inmueble.idCategoria == 4) { %>
                                    <p>Terreno</p>
                                <% } else if(inmueble.idCategoria == 5) { %>
                                    <p>Bodega</p>
                                <% } else if(inmueble.idCategoria == 6) { %>
                                    <p>Oficina</p>
                                <% } else if(inmueble.idCategoria == 7) { %>
                                    <p>Otro</p>
                                <% } %>
                            </div>
                        </div>
                        <!-- Checa dependiendo de la Categoria, que amenidades son las principales -->
                        <% if (inmueble.idCategoria == 1 || inmueble.idCategoria == 2) { %>
                            <%- include ('partials/amenidades/casaDepartamento', {inmueble: inmueble}) %>
                        <% } else if (inmueble.idCategoria == 3 ) { %>
                            <%- include('partials/amenidades/localOficina', {inmueble: inmueble}) -%>
                        <% } else if (inmueble.idCategoria == 4 || inmueble.idCategoria == 7) { %>
                            <%- include ('partials/amenidades/terrenoOtro', {inmueble: inmueble}) %>
                        <% } else if (inmueble.idCategoria == 5) { %>
                            <%- include ('partials/amenidades/bodega', {inmueble: inmueble}) %>
                        <% } %>
                    </div>
                </div>
                <div class="space-y-2">
                    <h2 class="text-2xl font-bold">
                        Lo que ofrece
                    </h2>
                    <%- include("partials/amenidades/amenidadesExtra", {inmueble: inmueble}) %>
                </div>
            </div>
            <div class="space-y-2">
                <h2 class="text-2xl font-bold">
                    Sobre esta propiedad
                </h2>
                <p>
                    <%= inmueble.descInmueble %>
                </p>
            </div>
        </div>
    

        <!-- Map Section -->

        <div class="p-12 space-y-2">
            <h2 class="text-2xl font-bold">
                Conoce los alrededores del inmueble
            </h2>
            <div class="flex flex-col md:grid md:grid-cols-2 space-y-3 md:space-x-8">
                <div class="order-last md:order-first pt-3">
                    <% const link = inmueble.linkGoogleMaps %>
                    <% let startIndex = link.indexOf('src="') + 5;
                    let endIndex = link.indexOf('>', startIndex) + 1;
                    let result = link.slice(startIndex, endIndex); %>
                    <iframe src="<%= result %>" class="w-full rounded-lg h-80 md:h-96" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum blanditiis eveniet reiciendis nihil nemo, odit nulla amet distinctio numquam, libero doloribus. Tempore quasi doloribus corrupti nesciunt ea, eos perferendis in sunt provident hic distinctio rem beatae dicta porro accusantium eius!
                    </p>
                </div>
            </div>
        </div>
    <% } %>

    <!-- Footer Section -->

    <%- include("partials/footer") %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

</body>
</html>