<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Navbar Section -->

    <%- include('partials/navbar') %>

    <!-- Heading Section -->

    <div class="px-10 py-2 text-center">
        <hr class="h-px my-4 bg-gray-800 border-0">
        <h2 class="text-2xl md:text-4xl font-bold mb-2 pt-5 md:pt-10"><%= inmueble.nombreInmueble %></h2>
        <p class="pb-5 md:pb-10 truncate">
            <%= inmueble.descInmueble.slice(0,170) %>...
        </p>
        <hr class="h-px my-4 bg-gray-800 border-0">
    </div>

    <!-- Progress Step Bar Section -->

    <div class="pr-8 pl-14 md:px-28 pt-10 pb-16 grid grid-cols-5 gap-2 md:gap-0">

        <% if(pasos.length > 0){ %>
            <% pasos.forEach(paso=>{ %>
            <!-- Esto es 1 Step con Rayita -->
                <div class="col-span-2 row-span-1">
                    <ol class="relative border-l border-sky-950">
                        <li class="ml-6">            
                            <span class="step-number absolute flex items-center justify-center w-8 h-8 bg-sky-950 rounded-full -left-4 ring-8 ring-white">
                                <p class="text-white"><%=paso.paso%></p>
                            </span>
                            <h3 class="font-medium leading-tight pt-2 md:pt-0"><%=paso.titulo%></h3>
                            <p class="text-sm text-gray-500 hidden md:block"><%=paso.descPaso%></p>
                        </li>
                    </ol>
                    <hr class="h-10 border-l border-sky-950 border-t-0">
                </div>
                <div class="col-span-2 row-span-1 justify-center">
                    <select class="h-10 px-5 bg-white w-full rounded-lg border font-semibold border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block">
                        <option value="Sin empezar" 
                            <% if(paso.status == 0) { %> 
                                selected
                            <% } %> 
                            > Sin empezar
                        </option>
                        <option value="En proceso" 
                            <% if (paso.status == 1) { %>
                                selected
                            <% } %> 
                            > En Proceso
                        </option>
                        <option value="Terminado" 
                            <% if (paso.status == 2) { %>
                                selected
                            <% } %> 
                            > Terminado
                        </option>
                    </select>
                </div>
                <div class="col-span-1 row-span-1 flex justify-center">
                    <%if(paso.observacion != "0" || paso.observacion != 0){%>
                        <span class="flex items-center justify-center w-8 h-8 bg-gray-500 rounded-full -left-4 ring-8 ring-white hover:bg-gray-400">
                            <div id="tooltipObservacion" role="tooltip" class="absolute z-10 p-4 invisible inline-block text-white transition-opacity duration-300 bg-gray-900 rounded-lg opacity-0 tooltip">
                                <%=paso.observacion%>
                            </div>
                            <p data-tooltip-target="tooltipObservacion" class="text-white">?</p>
                        </span>
                    <% } %>
                </div>
        <% }); %>
        <% } else { %>
            <p class="text-center text-lg font-bold">No hay información del tramite</p>
        <% }; %>

    </div>

    <!-- Footer Section -->

    <%- include("partials/footer") %>

    <script>
        function updateStepNumbers() {
            var stepNumbers = document.querySelectorAll('.step-number p');
            stepNumbers.forEach(function(number, index) {
            number.innerHTML = index + 1;
            });
        }
    </script>

    <script type="text/javascript">
        var lineas = document.querySelectorAll('hr');
        var last = lineas[lineas.length - 1];
        last.parentNode.removeChild(last);
        updateStepNumbers();
    </script>


</body>
</html>