<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Navbar Section -->
    <%- include('partials/navbar') %>
    <!-- Enlazar con la biblioteca de jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- Librerías necesarias -->
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>
    <!-- Menu Section -->

    <div class="px-10 pt-8">
        <div class="space-x-5 space-y-3">
            <a href="/perfil" class="px-5 py-2 w-auto text-center rounded-full text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">Mi Perfil</a>
            <a href="/perfil/procesos" class="text-center w-auto px-5 py-2 font-medium rounded-full hover:font-medium hover:bg-gray-400 hover:text-white-700">Mis Procesos</a>
        </div>
        <hr class="h-px my-4 bg-gray-800 border-0">
    </div>

    <!-- Profile Section -->

    <div class="p-10">
        <h2 class="text-4xl font-bold mb-2">Información Personal</h2>
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-5">
            <div class="col-span-2 lg:col-span-1 row-span-4 p-5 text-center justify-center">
                <div>
                    <img src="/perfil/get_bucket_img?image=<%=profilePhoto%>" alt="" class="w-96 h-80 object-cover mx-0 text-center self-center rounded-lg">
                </div>
                <div class="col-span-1 space-y-2 md:px-28 lg:px-5 py-5">
                    <button id="btnFotoPerfil" name="btnFotoPerfil" class="text-sm md:text-base px-5 py-2 w-full rounded-lg text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        Modificar Foto de Perfil
                    </button>
                </div>
            </div>
            <div class="col-span-1 space-y-2">
                <label for="nombre">Nombre(s)</label>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                        type="text" id="nombreUsuario" name="nombreUsuario" value="<%=datosUsuario.nombreUsuario%>" maxlength="30" required disabled/>
            </div>
            <div class="col-span-1 space-y-2">
                <label for="apellido">Apellidos</label>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                        type="text" id="apellidosUsuario" name="apellidosUsuario" value="<%=datosUsuario.apellidosUsuario%>" maxlength="30" required disabled/>
            </div>
            <div class="col-span-1 space-y-2">
                <label for="estadoCivilUsuario">Estado Civil</label>
                <% if (datosUsuario.estadoCivilUsuario != null) { %>
                    <input
                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                    type="text" id="estadoCivilUsuario" name="estadoCivilUsuario" value="<%=datosUsuario.estadoCivilUsuario%>" maxlength="30" disabled/>
                <% } else { %>
                    <input
                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                    type="text" id="estadoCivilUsuario" name="estadoCivilUsuario" value="Sin datos" maxlength="30" disabled/>
                <% } %>
                <!-- <select class="form-select block px-5 w-full mt-1 rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 h-10"
                    id="estadoCivilUsuario" name="estadoCivilUsuario">
                    <option value="N/A">Escoger una opción</option>
                    <option value="Soltero">Soltero</option>
                    <option value="Casado">Casado</option>
                    <option value="Casado-Bienes Mancomunados">Casado-Bienes Mancomunados</option>
                </select> -->
            </div>
            <div class="col-span-1 space-y-2">
                <label for="ocupacion">Ocupación</label>
                <% if (datosUsuario.ocupacionUsuario != null) { %>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                        type="text" id="ocupacion" name="ocupacionUsuario" value="<%=datosUsuario.ocupacionUsuario%>" maxlength="30" disabled/>
                <% } else { %>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                        type="text" id="ocupacion" name="ocupacionUsuario" value="Sin datos" maxlength="30" disabled/>
                <% } %>
            </div>
            <div class="col-span-1 space-y-2">
                <label for="email">Correo Electrónico</label>
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                            type="email" id="emailUsuario" name="emailUsuario" value="<%=datosUsuario.emailUsuario%>" maxlength="60" required disabled/>
            </div>
            <div class="col-span-1 space-y-2">
                <label for="telefonoUsuario">Número de Teléfono</label>
                <input type="tel"
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                            , id="telefonoUsuario" name="telefonoUsuario" value="<%=datosUsuario.telefonoUsuario%>" maxlength="10" minlength="10" pattern="[0-9]{10}" required disabled/>
            </div>
            <div class="col-span-1 space-y-2 py-5">
                <button id="btnModificarInformación" name="btnModificarInformación" class="text-sm md:text-base px-5 py-2 w-full rounded-lg text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                    Modificar Información Personal
                </button>
            </div>
            <div class="col-span-1 space-y-2 py-5">
                <button id="btnCambiarContrasenia" name="btnCambiarContrasenia" class="text-sm md:text-base px-5 py-2 w-full rounded-lg text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                    Cambiar Contraseña
                </button>
            </div>
        </div>
        <div class="grid grid-cols-4 space-y-2 py-5">
            <div class="col-span-2 col-start-2">
                <button id="btnEliminarCuenta" href="#" onclick="EliminarCuenta()" name="btnEliminarCuenta" class="btnEliminarCuenta text-sm md:text-base px-5 py-2 w-full rounded-lg text-white font-medium bg-red-600 hover:font-medium hover:bg-red-700 btnEliminarCuenta">
                    Eliminar Cuenta
                </button>
            </div>
        </div>
    </div>

    <script>
        /*
        * Funcionalidad de botón de eliminación de la cuenta del perfil. Despliega un modal que verifica la decisión del usuario para posteriormente asegurar la inexistencia de procesos del mismo.
        */
                function EliminarCuenta(){
                    const idUs=<%=datosUsuario.idUsuario%>
                    /*
                    *Modal de confirmación.
                    */
                    Swal.fire({
                        title: '¿Confirma la eliminación de su cuenta?',
                        showCancelButton: true,
                        confirmButtonText: `Confirmar`,
                    }).then((result) => {
                        /*
                        * Llamada de la ruta que comprueba la cantidad de procesos activos y verifica si puede ser eliminado o no.                                 
                        */
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '/dashboard/lista/eliminar/' + idUs,
                                method: 'put',
                                success: function (choice) {
                                    if (choice.comprobacionEliminado == false) {
                                        Swal.fire('Tiene procesos pendientes de concluir. Reasignelos o complételos para continuar.')
                                    } else {
                                        console.log("Si la eliminó alv")
                                        Swal.fire('¡Tu cuenta ha sido eliminada!')
                                        window.location='/logout'
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                                }
                            });
                        }
                    })
                }
            </script>

    <!-- Footer Section -->
    

    <%- include("partials/footer") %>

</body>
</html>