<%- include('partials/head') %>
<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->
    <div>
        <!-- NavBar Section -->
        <%- include("partials/navbar") %>
    </div>
    <!-- Properties Section -->
    <div class="lg:px-10 lg:py-10 md:px-12 md:py-8 flex-col justify-center">
        <div>
            <h2 class="lg:py-10 md:py-8 text-4xl font-bold lg:flex lg:justify-center md:text-center">
                ¡Busca tu lugar perfecto!
            </h2>
            <p class="text-4x1 font-normal text-center">
                Navega a través de nuestro amplio catálogo de propiedades
            </p>
        </div>

        <form action="/catalogo/search" method="POST">
            <div class="py-6 flex flex-col items-center justify-center  gap-5" x-data="{ open: false }">
                <div class="flex items-center justify-between flex-col gap-6 mt-5">
                    <div class="flex gap-6">
                        <input type="text" name="direccionInmueble" id="direccionInmueble" class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800" placeholder="Ubicación">
                        <button type="submit" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-[#345087] hover:font-medium hover:bg-gray-700"> <i class="fas fa-search px-2"></i> Search</button>
                    </div>
                    <div class="flex gap-6">
                        <select name="idTipoMovimiento" id="idTipoMovimiento" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Tipo de operación</option>
                            <option value="1">Venta</option>
                            <option value="2">Renta</option>
                            <option value="3">Venta/Renta</option>
                        </select>
                        <select name="idCategoria" id="idCategoria" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Tipo de Inmueble</option>
                            <option value="1">Casa</option>
                            <option value="2">Departamento</option>
                            <option value="3">Local</option>
                            <option value="4">Terreno</option>
                            <option value="5">Bodego</option>
                            <option value="6">Oficina</option>
                            <option value="7">Otro</option>
                        </select>
                        <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Precio</option>
                            <option value="Venta">10-20</option>
                            <option value="Renta">20-30</option>
                        </select>                        
                        <div>
                            <a class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700 align-middle" @click="open = ! open">
                                Más filtros
                            </a>
                        </div>
                    </div>
                </div>
                <div x-show="open"   x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 translate-y-0"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 translate-y-10"
                x-transition:leave-end="opacity-0 translate-y-0" class="flex gap-6">
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Recámaras</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select>
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Baños</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select> 
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Estacionamientos</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select> 
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Metros cuadrados</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select>  
                </div>
            </div>
        </form>


        <!-- <form>
            <div class="py-6 flex flex-col items-center justify-center relative gap-5">
                <div class="flex items-center justify-between flex-col gap-6 mt-5">
                    <div class="flex gap-6">
                        <input type="text" class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800" placeholder="Ubicación">
                        <button type="submit" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">Search</button>
                    </div>
                    <div class="flex gap-6">
                        <select name="operacionInmueble" id="operacionInmueble" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Tipo de operación</option>
                            <option value="Venta">Venta</option>
                            <option value="Renta">Renta</option>
                        </select>
                        <select name="tipoInmueble" id="tipoInmueble" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Tipo de inmueble</option>
                            <option value="Venta">Casa</option>
                            <option value="Renta">Departamento</option>
                        </select>
                        <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Precio</option>
                            <option value="Venta">10-20</option>
                            <option value="Renta">20-30</option>
                        </select>                        
                        <div>
                            <label class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700 peer/masFiltros" id="masFiltros" >
                                Más filtros
                            </label>
                        </div>
                    </div>
                </div>
                <div class="hidden peer-checked/masFiltros:flex">
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Recámaras</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select>
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Baños</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select> 
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Estacionamientos</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select> 
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Metros cuadrados</option>
                        <option value="Venta">10-20</option>
                        <option value="Renta">20-30</option>
                    </select>  
                </div>
            </div>
        </form> -->

    <!-- </div> -->
    
    <!-- Desplegar elementos del catalogo -->
    
        <% if(inmuebles.length > 0){ %>
            <% inmuebles.forEach(inmueble=>{ %>
                <!-- 1=casa; 2=depto; 3=local; 4=terreno; 5=bodega; 6=oficina; 7=otro -->
                <% if(inmueble.idCategoria == 1 || inmueble.idCategoria == 2){ %>
                    <%- include('tarjetasCatalogo/tarjetaCasa', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 3){ %>
                    <%- include('tarjetasCatalogo/tarjetaLocal', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 4){ %>
                    <%- include('tarjetasCatalogo/tarjetaTerreno', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 5){ %>
                    <%- include('tarjetasCatalogo/tarjetaBodega', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 6){ %>
                    <%- include('tarjetasCatalogo/tarjetaOficina', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 7){ %>
                    <%- include('tarjetasCatalogo/tarjetaOtro', {data: inmueble}) %>
                <%}%>
            <% }); %>
        <% } else { %>
            <p class="text-center text-lg font-bold">No hay ningún inmueble que cumpla con sus criterios</p>
        <% } %>
    <div class="break"></div>
    <!--Display the links to the pages-->
    <div class="flex justify-center">
        <div>
            <% if(pagina > 1) { %> 
                    <a href="catalogo?pagina=<%=pagina-1%>" class="mr-2">Página Anterior </a> 
            <% } %>
            <% for(let i = iterador; i <= linkFinal; i++) { %>
                <% if(i === pagina) { %>
                    <b> <%=i%> </b>
                <% } else { %>
                    <a href="catalogo?pagina=<%=i%>"> <%=i%> </a>
                <% } %> 
            <% } %>
            <% if(pagina < numeroPaginas) { %> <a href="catalogo?pagina=<%=pagina+1%>"> Página Siguiente</a><% } %>
        </div>
    </div>
    </div>
    <!-- Footer Section -->
    <%- include("partials/footer") %>

    <script src="//unpkg.com/alpinejs" defer></script>

</body>
</html>