<%- include('partials/head') %>
<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->
    <div>
        <!-- NavBar Section -->
        <%- include("partials/navbar") %>
    </div>
    <!-- Properties Section -->
    <div class="lg:px-10 lg:py-10 md:px-12 md:py-8 flex-col justify-center">
        <div>
            <h2 class="lg:py-10 md:py-8 text-4xl font-bold lg:flex lg:justify-center md:text-center">
                ¡Busca tu lugar perfecto!
            </h2>
            <p class="text-4x1 font-normal text-center">
                Navega a través de nuestro amplio catálogo de propiedades
            </p>
        </div>

        <form action="/catalogo" method="POST">
            <div class="py-6 flex flex-col items-center justify-center  gap-5" x-data="{ open: false }">
                <div class="flex items-center justify-between flex-col gap-6 mt-5">
                    <div class="flex gap-6">
                        <input type="text" name="direccionInmueble" id="direccionInmueble" class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800" placeholder="Ubicación">
                        <button type="submit" class="px-5 py-2 w-full rounded-lg text-base text-white font-medium bg-[#345087] hover:font-medium hover:bg-gray-700"> <i class="fas fa-search px-2"></i> Search</button>
                    </div>
                    <div class="flex gap-6">
                        <select name="idTipoMovimiento" id="idTipoMovimiento" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Tipo de operación</option>
                            <option value="1">Venta</option>
                            <option value="2">Renta</option>
                            <option value="3">Venta/Renta</option>
                        </select>
                        <select name="idCategoria" id="idCategoria" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                            <option disabled selected>Tipo de Inmueble</option>
                            <option value="1">Casa</option>
                            <option value="2">Departamento</option>
                            <option value="3">Local</option>
                            <option value="4">Terreno</option>
                            <option value="5">Bodego</option>
                            <option value="6">Oficina</option>
                            <option value="7">Otro</option>
                        </select>
                            <!-- <a id="toggle-slider" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700 cursor-pointer">Precio</a>
                            <div id="slider" class="hidden"> -->
                                <div class="flex justify-center space-x-4">
                                    <div>
                                        <label class="block text-gray-700 font-bold mb-2" for="precio-minimo">
                                            Precio mínimo
                                        </label>
                                        <input id="precioMinimo" name="precioMinimo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="precio-minimo" type="number" placeholder="0">
                                    </div>
                                    <div>
                                        <label class="block text-gray-700 font-bold mb-2" for="precio-maximo">
                                            Precio máximo
                                        </label>
                                        <input id="precioMaximo" name="precioMaximo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="precio-maximo" type="number" placeholder="0">
                                    </div>
                                </div>
                            <!-- </div>                       -->
                        <a class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700 align-middle cursor-pointer" @click="open = ! open">
                            Más filtros
                        </a>
                    </div>
                </div>
                <div x-show="open"   x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 translate-y-0"
                x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 translate-y-10"
                x-transition:leave-end="opacity-0 translate-y-0" class="flex gap-6">
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Recámaras</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <!-- Aqui lo que se haria seria que en la consulta dices que si el avlue es >5 muestre las propiedades -->
                        <option value="6">5+</option>
                    </select>
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Baños</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <!-- Aqui lo que se haria seria igual que arriba -->
                        <option value="4">3+</option>
                    </select> 
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Estacionamientos</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <!-- Aqui lo que se haria seria igual que en los de arriba -->
                        <option value="4">3+</option>
                    </select> 
                    <select name="precioInmueble" id="precioInmueble" class="px-5 py-2 w-auto rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        <option disabled selected>Metros cuadrados</option>
                        <option value="100">1-100</option>
                        <option value="200">101-200</option>
                        <option value="300">201-300</option>
                        <option value="400">301-400</option>
                        <option value="500">500+</option>
                    </select>  
                </div>
            </div>
        </form>

    <!-- Desplegar elementos del catalogo -->
    
        <% if(inmuebles.length > 0){ %>
            <% inmuebles.forEach(inmueble=>{ %>
                <!-- 1=casa; 2=depto; 3=local; 4=terreno; 5=bodega; 6=oficina; 7=otro -->
                <% if(inmueble.idCategoria == 1 || inmueble.idCategoria == 2){ %>
                    <%- include('tarjetasCatalogo/tarjetaCasa', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 3){ %>
                    <%- include('tarjetasCatalogo/tarjetaLocal', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 4){ %>
                    <%- include('tarjetasCatalogo/tarjetaTerreno', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 5){ %>
                    <%- include('tarjetasCatalogo/tarjetaBodega', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 6){ %>
                    <%- include('tarjetasCatalogo/tarjetaOficina', {data: inmueble}) %>
                <% } else if (inmueble.idCategoria == 7){ %>
                    <%- include('tarjetasCatalogo/tarjetaOtro', {data: inmueble}) %>
                <%}%>
            <% }); %>
        <% } else { %>
            <p class="text-center text-lg font-bold">No hay ningún inmueble que cumpla con sus criterios</p>
        <% } %>
    <div class="break"></div>
    <!--Display the links to the pages-->
    <div class="flex justify-center">
        <div>
            <% if(pagina > 1) { %> 
                    <a href="catalogo?pagina=<%=pagina-1%>" class="mr-2">Página Anterior </a> 
            <% } %>
            <% for(let i = iterador; i <= linkFinal; i++) { %>
                <% if(i === pagina) { %>
                    <b> <%=i%> </b>
                <% } else { %>
                    <a href="catalogo?pagina=<%=i%>"> <%=i%> </a>
                <% } %> 
            <% } %>
            <% if(pagina < numeroPaginas) { %> <a href="catalogo?pagina=<%=pagina+1%>"> Página Siguiente</a><% } %>
        </div>
    </div>
    </div>
    <!-- Footer Section -->
    <%- include("partials/footer") %>

    <script src="//unpkg.com/alpinejs" defer></script>

<!--     <script>
        const toggleSlider = document.getElementById('toggle-slider');
        const slider = document.getElementById('slider');
        
        toggleSlider.addEventListener('click', () => {
            slider.classList.toggle('hidden');
        });

        const priceRange = document.getElementById('price-range');
        const minValue = document.getElementById('min-value');
        const maxValue = document.getElementById('max-value');

        priceRange.addEventListener('input', () => {
            const min = parseFloat(priceRange.min);
            const max = parseFloat(priceRange.max);
            const value = parseFloat(priceRange.value);
            const range = max - min;
            const percentage = (value - min) / range;
            const width = priceRange.offsetWidth;
            const left = percentage * width;

            minValue.textContent = `$${value}`;
            maxValue.textContent = `$${max}`;
        });
    </script> -->

</body>
</html>