<form id="cuerpoInmueble" name="cuerpoInmueble" action="/dashboard/alta/inmueble/cuerpoCasa/<%=idInmueble%>" method="POST">

    <!-- Información General -->

    <div class="px-10 pb-12 flex flex-col space-y-10 justify-center lg:space-y-0 lg:grid lg:grid-cols-2 lg:space-x-8">
        <div class="space-y-2">
            <label for="titulo" class="text-lg font-semibold">Título</label>
            <input
                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                type="text" id="titulo" name="titulo" placeholder="Casa en Álamos" maxlength="150" required/>
        </div>
        <div class="space-y-2">
            <label for="linkVideo" class="text-lg font-semibold">Enlace al Vídeo de Youtube</label>
            <input
                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                type="text" id="linkVideo" name="linkVideo" placeholder="www.youtube.com" required/>
        </div>
    </div>

    <!-- Detalles -->

    <div class="p-10 bg-sky-950 grid grid-cols-3 gap-8">
        <div class="space-y-4 col-span-3 lg:col-span-1">
            <label for="tipoOperacion" class="text-lg font-semibold text-white">Tipo de Operación</label>
            <label for="tipoOperacion" class="text-lg font-semibold text-red-500 ml-1"> * Obligatorio</label>
            <div class="flex flex-row">
                <fieldset>
                    <input id="venta" name="venta" class="peer/venta w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded" type="checkbox" value="0"  class="form-checkbox"/>
                    <label for="venta" class="ml-1 text-base text-white">Venta</label>
                    <input id="renta" name="renta" class="ml-8 peer/renta w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded" type="checkbox" value="0" class="form-checkbox" />
                    <label for="renta" class="ml-1 text-base text-white">Renta</label>
                    <div class="mt-4 hidden peer-checked/venta:block space-y-2">
                        <h3 class="text-lg font-semibold text-white">Precio Venta</h3>
                        <input
                            class="h-10 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="precioVenta" name="precioVenta" placeholder="3,000,000" maxlength="30"/>
                    </div>
                    <div class="mt-4 hidden peer-checked/renta:block space-y-2">
                        <h3 class="text-lg font-semibold text-white">Precio Renta (por mes)</h3>
                        <input
                            class="h-10 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="precioRenta" name="precioRenta" placeholder="10,000" maxlength="30"/>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="space-y-4 col-span-3 lg:col-span-2">
            <% if (idRol === 2) { %>
                <input type="hidden" id="id_agente" name="id_agente" value="<%=idusuario%>">
            <% } else if (idRol === 1) { %>
                <div class="space-y-2">
                    <label for="id_agente" class="text-lg font-semibold text-white">Agentes y Administradores disponibles</label>
                    <select class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                        id="id_agente" name="id_agente">
                        <% listaAgentes.forEach(agente=>{ %>
                            <option value="<%=agente.idUsuario%>"><%=agente.nombreUsuario%> <%=agente.apellidosUsuario%></option>
                        <% }); %>
                    </select>
                </div>
            <% } %>
        </div>

        <div class="col-span-3 space-y-2">
            <label for="" class="text-lg font-semibold text-white">Características de la Propiedad</label>
            <div class="grid grid-cols-3 gap-7">
    
                <!-- Columna de Inputs -->
    
                <div class="grid grid-cols-2 gap-2 text-sm col-span-3 lg:col-span-1">
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-expand"></i><p> M2 de Terreno</p>
                    </div>
                    <div class="flex items-center">
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="m2terreno" name="m2terreno" placeholder="450" maxlength="30" required/>
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-house"></i><p> M2 de Construcción</p>
                    </div>
                    <div>
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="m2construccion" name="m2construccion" placeholder="450" maxlength="30" required />
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-layer-group"></i><p> Pisos</p>
                    </div>
                    <div class="flex items-center">
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="niveles" name="niveles" placeholder="2" maxlength="30" required/>
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-bed"></i><p> Recámaras</p>
                    </div>
                    <div>
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="recamaras" name="recamaras" placeholder="3" maxlength="30" required />
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-bath"></i><p> Baños</p>
                    </div>
                    <div>
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="banios" name="banios" placeholder="2" maxlength="30" required/>
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-toilet"></i><p> Medios Baños</p>
                    </div>
                    <div class="flex items-center">
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="mediosBanios" name="mediosBanios" placeholder="1" maxlength="30" required/>
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-car"></i><p> Estacionamiento</p>
                    </div>
                    <div>
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="estacionamientos" name="estacionamientos" placeholder="1" maxlength="30" required/>
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-solid fa-circle-dollar-to-slot"></i><p> C. de Manten.</p>
                    </div>
                    <div class="flex items-center">
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="number" min="0" id="cuotaMantenimiento" name="cuotaMantenimiento" placeholder="500" maxlength="30" required/>
                    </div>
                    <div class="text-white flex items-center space-x-2">
                        <i class="fa-regular fa-calendar-days"></i><p> Año de Const.</p>
                    </div>
                    <div class="flex items-center">
                        <input
                            class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                            type="int" id="fechaConstruccion" name="fechaConstruccion" placeholder="1990" maxlength="4" 
                            required oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
                    </div>
                </div>
    
                <!-- Columna de Dropdowns -->
    
                <div class="space-y-2 col-span-3 lg:col-span-1">
                    <div class="space-y-2">
                        <label for="usoSuelo" class="text-sm text-white">Uso de Suelo</label>
                        <select class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                            id="usoSuelo" name="usoSuelo">
                            <option value="Habitacional">Habitacional</option>
                            <option value="Comercial">Comercial</option>
                            <option value="Comercial y servicios">Comercial y servicios</option>
                            <option value="Industrial">Industrial</option>
                            <option value="Ejidal">Ejidal</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="space-y-2">
                        <label for="ubicado" class="text-sm text-white">Ubicado</label>
                        <select class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                            id="ubicado" name="ubicado">
                            <option value="0">Sobre calle</option>
                            <option value="1">En privada</option>
                        </select>
                    </div>
                    <div class="space-y-2">
                        <label for="tipoGas" class="text-sm text-white">Tipo de Gas</label>
                        <select class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                            id="tipoGas" name="tipoGas">
                            <option value="Natural">Natural</option>
                            <option value="Cilindro">Cilindro</option>
                            <option value="Estacionario">Estacionario</option>
                            <option value="No tiene">No tiene</option>
                        </select>
                    </div>
                </div>
    
                <!-- Columna de Checkbox -->
    
                <div class="space-y-2 text-sm text-white col-span-3 lg:col-span-1">
                    <div>
                        <input type="checkbox" id="cocina" name="cocina" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Cocina</label>
                    </div>
                    <div>
                        <input type="checkbox" id="cisterna" name="cisterna" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Cisterna</label>
                    </div>
                    <div>
                        <input type="checkbox" id="cuartoServicio" name="cuartoServicio" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Cuarto de Servicio</label>
                    </div>
                    <div>
                        <input type="checkbox" id="salaTV" name="salaTV" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Sala de TV</label>
                    </div>
                    <div>
                        <input type="checkbox" id="estudio" name="estudio" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Estudio</label>
                    </div>
                    <div>
                        <input type="checkbox" id="roofGarden" name="roofGarden" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Roof Garden</label>
                    </div>
                    <div>
                        <input type="checkbox" id="areaLavado" name="areaLavado" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Área de Lavado</label>
                    </div>
                    <div>
                        <input type="checkbox" id="vigilancia" name="vigilancia" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Vigilancia</label>
                    </div>
                    <div>
                        <input type="checkbox" id="jardin" name="jardin" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Jardín</label>
                    </div>
                    <div>
                        <input type="checkbox" id="bodega" name="bodega" value="0" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Bodega</label>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Descripción Inmueble -->
        <div class="col-span-3 space-y-2">
            <label for="" class="text-lg font-semibold text-white">Sobre esta Propiedad</label>
            <textarea id="desc" name="desc" maxlength="3000" rows="5" class="block px-5 py-3 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Esta propiedad..." required></textarea>
            <br>
            
        </div>
    </div>

    <!-- Dirección Inmueble -->

    <div class="p-10">
        <div class="flex flex-col space-y-10 justify-center lg:space-y-0 lg:grid lg:grid-cols-2 lg:space-x-8">
            <div class="space-y-5">
                <div class="space-y-2">
                    <label for="direccion" class="text-lg font-semibold">Dirección de la Propiedad</label>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                        type="text" id="direccion" name="direccion" placeholder="Condesa de Barry 305" maxlength="200" required/>
                </div>
            </div>
            <div class="space-y-2">
                <label for="direccion" class="text-lg font-semibold">Link de “Embed a Map” en Google Maps</label>
                <input
                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                    type="text" id="linkMaps" name="linkMaps" placeholder="iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12617.262388400684!2d-100.4082022221727!3d20.611509759670554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ae83751a45d%3A0x4fa6ee69f6b64f3a!2sTecnol%C3%B3gico%20de%20Monterrey!5e0!3m2!1ses-419!2smx!4v1682632411233!5m2!1ses-419!2smx'" maxlength="600" required/>
            </div>
        </div>
    </div>
    <div class="px-10 pb-12 flex justify-evenly">
        <input type="hidden" id="id_inmueble" name="id_inmueble" value="<%=idInmueble%>">
        <button type="button" class="px-5 py-2 w-1/3 rounded-lg text-base text-white font-medium bg-red-600 hover:font-medium hover:bg-red-700 btnCancelar">
            Cancelar
        </button>
        <input type="submit" class="px-5 py-2 w-1/3 rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700" value=" Registrar " />
    </div>
</form>