<!-- Information Form -->

<form id="cuerpoInmueble" name="cuerpoInmueble" action= "/inmueble/editarInmueble/bodega/<%=inmueble.idInmueble%>" method="POST">

    <!-- Información General -->
    <div class="px-10 pb-12 flex flex-col space-y-10 justify-center lg:space-y-0 lg:grid lg:grid-cols-2 lg:space-x-8">
        <div class="space-y-2">
            <label for="titulo" class="text-lg font-semibold">Título</label>
            <input
                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                type="text" id="titulo" name="titulo" value="<%=inmueble.nombreInmueble%>"
                placeholder="<%=inmueble.nombreInmueble%>" maxlength="100" required />
        </div>
        <div class="space-y-2">
            <label for="linkVideo" class="text-lg font-semibold">Enlace al Vídeo de Youtube</label>
            <input
                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                type="text" id="linkVideo" name="linkVideo" value="<%=inmueble.linkVideoInmueble%>"
                placeholder="<%=inmueble.linkVideoInmueble%>" />
        </div>
    </div>

    <div class="p-10 bg-sky-950">
        <!-- START OF FIRST ROW -->
        <div class="grid grid-cols-2 lg:grid-cols-3 lg:gap-8">
            <div class="space-y-4">
                <label for="tipoOperacion" class="text-lg font-semibold text-white">Tipo de Operación</label>
                <label for="tipoOperacion" class="text-lg font-semibold text-red-500 "> * Obligatorio</label>
                <div class="flex flex-row">
                    <fieldset>
                        <input id="ventaCheckbox"
                            class="peer/venta w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded" type="checkbox"
                            name="venta" class="form-checkbox" <% if (inmueble.idTipoMovimiento==1 ||
                            inmueble.idTipoMovimiento==3) { %>
                        checked <% } %>/>
                            <label for="ventaCheckbox" class="ml-1 text-base text-white">Venta</label>
                            <input id="rentaCheckbox"
                                class="ml-8 peer/renta w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
                                type="checkbox" name="renta" class="form-checkbox" <% if (inmueble.idTipoMovimiento==2 ||
                                inmueble.idTipoMovimiento==3) { %>
                            checked <% } %> />
                                <label for="rentaCheckbox" class="ml-1 text-base text-white">Renta</label>
                                <div class="mt-4 hidden peer-checked/venta:block space-y-2">
                                    <h3 for="" class="text-lg font-semibold text-white">Precio Venta</h3>
                                    <input
                                        class="h-10 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                        type="number" min="0" id="precioVenta" name="precioVenta"
                                        value="<%=inmueble.precioVentaInmueble%>"
                                        placeholder="<%=inmueble.precioVentaInmueble%>" maxlength="30" />
                                </div>
                                <div class="mt-4 hidden peer-checked/renta:block space-y-2">
                                    <h3 for="" class="text-lg font-semibold text-white">Precio Renta (por mes)</h3>
                                    <input
                                        class="h-10 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                        type="number" min="0" id="precioRenta" name="precioRenta"
                                        value="<%=inmueble.precioRentaInmueble%>"
                                        placeholder="<%=inmueble.precioRentaInmueble%>" maxlength="30" />
                                </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <!-- END OF FIRST ROW -->
        
        <div class="grid grid-cols-3 gap-8 my-10">
            <div class="col-span-2  space-y-2">
                <label for="" class="text-lg font-semibold text-white">¿Qué Ofrece la Propiedad?</label>
                <div class="flex flex-col lg:flex-row gap-8">

                    <!-- Columna de Inputs -->

                    <div class="grid grid-cols-2 gap-2">
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-expand"></i>
                            <p> M2 de Terreno</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="m2Terreno" name="m2Terreno"
                                value="<%=inmueble.m2TerrenoInmueble%>"
                                placeholder="<%=inmueble.m2TerrenoInmueble%>" maxlength="30" required />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-ruler-combined"></i>
                            <p>Medidas Frente</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="medidaFrente" name="medidaFrente"
                                value="<%=inmueble.medidasFrenteInmueble%>"
                                placeholder="<%=inmueble.medidasFrenteInmueble%>" maxlength="30" required />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-ruler-combined"></i>
                            <p>Medidas Fondo</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="medidaFondo" name="medidaFondo"
                                value="<%=inmueble.medidasFondoInmueble%>"
                                placeholder="<%=inmueble.medidasFondoInmueble%>" maxlength="30" required />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-door-closed"></i>
                            <p> Privados</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="cuartosPrivadosInmueble" name="cuartosPrivadosInmueble"
                                value="<%=inmueble.cuartosPrivadosInmueble%>"
                                placeholder="<%=inmueble.cuartosPrivadosInmueble%>" maxlength="30" required />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-toilet"></i>
                            <p> Medio(s) baño(s)</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="mediosBanios" name="mediosBanios"
                                value="<%=inmueble.mediosBaniosInmueble%>"
                                placeholder="<%=inmueble.mediosBaniosInmueble%>" maxlength="30" required />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-circle-dollar-to-slot"></i>
                            <p> C. de Manten.</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="cuotaMantenimiento" name="cuotaMantenimiento"
                                value="<%=inmueble.cuotaMantenimientoInmueble%>"
                                placeholder="<%=inmueble.cuotaMantenimientoInmueble%>%>" maxlength="30"
                                required />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-regular fa-calendar-days"></i>
                            <p> Año de Const.</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="fechaConstruccion" name="fechaConstruccion"
                                value="<%=inmueble.fechaConstruccionInmueble%>"
                                placeholder="<%=inmueble.fechaConstruccionInmueble%>" maxlength="4" required
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-ruler-vertical"></i>
                            <p> Altura (mts.)</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="altura" name="altura" value="<%=inmueble.alturaInmueble%>"
                                placeholder="<%=inmueble.alturaInmueble%>" maxlength="30" required />
                        </div>
                        <div class="text-white flex items-center space-x-2">
                            <i class="fa-solid fa-trowel-bricks"></i>
                            <p> Muros</p>
                        </div>
                        <div class="flex items-center">
                            <input
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                type="number" min="0" id="muros" name="muros" value="<%=inmueble.murosInmueble%>"
                                placeholder="<%=inmueble.murosInmueble%>" maxlength="30" required />
                        </div>
                    </div>

                    <!-- Amenidades Principales -->

                    <div class="space-y-2">
                        <div class="grid grid-cols-2 gap-4">
                            <div class="text-white flex items-center space-x-2">
                                <i class="fa-solid fa-house"></i>
                                <p> M2 de Construcción</p>
                            </div>
                            <div>
                                <input
                                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                    type="number" min="0" id="m2Construccion" name="m2Construccion"
                                    value="<%=inmueble.m2ConstruidosInmueble%>"
                                    placeholder="<%=inmueble.m2ConstruidosInmueble%>" maxlength="30" required />
                            </div>
                            <div class="text-white flex items-center space-x-2">
                                <i class="fa-solid fa-layer-group"></i>
                                <p> Pisos</p>
                            </div>
                            <div>
                                <input
                                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                    type="number" min="0" id="niveles" name="niveles" value="<%=inmueble.nivelesInmueble%>"
                                    placeholder="<%=inmueble.nivelesInmueble%>" maxlength="30" required />
                            </div>
                            <div class="text-white flex items-center space-x-2">
                                <i class="fa-solid fa-car"></i>
                                <p> Estacionamiento</p>
                            </div>
                            <div>
                                <input
                                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                    type="number" min="0" id="estacionamientos" name="estacionamientos"
                                    value="<%=inmueble.estacionamientosInmueble%>"
                                    placeholder="<%=inmueble.estacionamientosInmueble%>" maxlength="30" required />
                            </div>
                            <div class="text-white flex items-center space-x-2">
                                <i class="fa-solid fa-bath"></i>
                                <p> Baños</p>
                            </div>
                            <div>
                                <input
                                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                                    type="number" min="0" id="banios" name="banios" value="<%=inmueble.baniosInmueble%>"
                                    placeholder="<%=inmueble.baniosInmueble%>" maxlength="30" required />
                            </div>
                        </div>
                    </div>

                    <!-- Columna de Dropdowns -->

                    <div class="space-y-2">
                        <div class="space-y-2">
                            <label for="usoSuelo" class="text-sm text-white">Uso de Suelo</label>
                            <select
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                                id="usoSuelo" name="usoSuelo">
                                <option value="habitacional" <% if (inmueble.usoSueloInmueble==='habitacional' ) {
                                    %>
                                    selected <% } %>
                                        >Habitacional</option>
                                <option value="comercial" <% if (inmueble.usoSueloInmueble==='comercial' ) { %>
                                    selected <% } %>
                                        >Comercial</option>
                                <option value="comercial y servicios" <% if
                                    (inmueble.usoSueloInmueble==='comercial y servicios' ) { %>
                                    selected <% } %>
                                        >Comercial y servicios</option>
                                <option value="industrial" <% if (inmueble.usoSueloInmueble==='industrial' ) { %>
                                    selected <% } %>
                                        >Industrial</option>
                                <option value="ejidal" <% if (inmueble.usoSueloInmueble==='ejidal' ) { %>
                                    selected <% } %>
                                        >Ejidal</option>
                                <option value="otro" <% if (inmueble.usoSueloInmueble==='otro' ) { %>
                                    selected <% } %>
                                        >Otro</option>
                            </select>
                        </div>
                        <div class="space-y-2">
                            <label for="ubicado" class="text-sm text-white">Ubicado</label>
                            <select
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                                id="ubicado" name="ubicado">
                                <option value="1" <% if (inmueble.enPrivadaInmueble==1) { %>
                                    selected <% } %>
                                        >En Privada</option>
                                <option value="0" <% if (inmueble.enPrivadaInmueble==0) { %>
                                    selected <% } %>
                                        >En Calle</option>
                            </select>
                        </div>
                        <div class="space-y-2">
                            <label for="tipoPiso" class="text-sm text-white">Tipo de Piso</label>
                            <select
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                                id="tipoPiso" name="tipoPiso">
                                <option value="industrial" <% if (inmueble.tipoPisoInmueble==='industrial' ) { %>
                                    selected <% } %>
                                        >Industrial</option>
                                <option value="uso ligero" <% if (inmueble.tipoPisoInmueble==='uso ligero' ) { %>
                                    selected <% } %>
                                        >Uso Ligero</option>
                                <option value="uso pesado" <% if (inmueble.tipoPisoInmueble==='uso pesado' ) { %>
                                    selected <% } %>
                                        >Uso Pesado</option>
                            </select>
                        </div>
                        <div class="space-y-2">
                            <label for="tipoLuz" class="text-sm text-white">Tipo de Luz</label>
                            <select
                                class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 block"
                                id="tipoLuz" name="tipoLuz">
                                <option value="trifacica" <% if (inmueble.tipoLuz==='trifacica' ) { %>
                                    selected <% } %>
                                        >Trifácica</option>
                                <option value="bifacica" <% if (inmueble.tipoLuz==='bifacica' ) { %>
                                    selected <% } %>
                                        >Bifácica</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Columna de Checkbox -->

            <div class="space-y-2 text-sm text-white">
                <div>
                    <input type="checkbox" id="cocina" name="cocina" value="0" <% if
                        (inmueble.cocinaInmueble==1) { %>
                    checked
                    <% } %>
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Cocina</label>
                </div>
                <div>
                    <input type="checkbox" id="cisterna" name="cisterna" value="0" <% if
                        (inmueble.cisternaInmueble==1) { %>
                    checked
                    <% } %>
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Cisterna</label>
                </div>
                <div>
                    <input type="checkbox" id="vigilancia" name="vigilancia" value="0" <% if
                        (inmueble.vigilanciaInmueble==1) { %>
                    checked
                    <% } %>
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Vigilancia</label>
                </div>
                <div>
                    <input type="checkbox" id="generadorElectrico" name="generadorElectrico" value="0" <% if
                        (inmueble.generadorElectricoInmueble==1) { %>
                    checked
                    <% } %>
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Generador Eléctrico</label>
                </div>
                <div>
                    <input type="checkbox" id="andenCarga" name="andenCarga" value="0" <% if
                        (inmueble.andenCargaInmueble==1) { %>
                    checked
                    <% } %>
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Andén de Carga</label>
                </div>
                <div>
                    <input type="checkbox" id="oficina" name="oficina" value="0" <% if
                        (inmueble.oficinaInmueble==1) { %>
                    checked
                    <% } %>
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Oficina Inmueble</label>
                </div>
                <div>
                    <input type="checkbox" id="patioManiobras" name="patioManiobras" value="0" <% if
                        (inmueble.patioManiobrasInmueble==1) { %>
                    checked
                    <% } %>
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                        <label for="default-checkbox" class="ml-1 text-base">Patio de Maniobras</label>
                </div>
            </div>
        </div>

        <!-- Descripción Inmueble -->

        <div class="flex flex-col space-y-10 lg:grid lg:grid-cols-2">
            <div>
                <label for="" class="text-lg font-semibold text-white">Sobre esta Propiedad</label>
                <textarea id="desc" name="desc" rows="5"
                    class="block px-5 py-3 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    maxlength="3000"
                    placeholder="<%=inmueble.descInmueble%>"><%=inmueble.descInmueble%></textarea>
            </div>
            <div class="text-white lg:ml-32">
                <input type="checkbox" <% if (inmueble.activoInmueble==1) { %>
                hidden checked
                <% } %>
                id="activoInmueble" name="activoInmueble" value="1" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                <label <% if (inmueble.activoInmueble==1) { %>
                    hidden
                <% } %>
                for="default-checkbox" class="ml-1 text-base">Activar Inmueble
                </label>
            </div>
        </div>
    </div>

    <!-- Dirección Inmueble -->

    <div class="p-10 flex justify-center">
        <div class="flex flex-col lg:grid lg:grid-cols-2 space-x-0 lg:space-x-5 gap-8">
            <div class="space-y-5">
                <div class="space-y-2">
                    <label for="direccion" class="text-lg font-semibold">Dirección de la Propiedad</label>
                    <input
                        class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                        type="text" id="direccion" name="direccion" value="<%=inmueble.direccionInmueble%>"
                        placeholder="<%=inmueble.direccionInmueble%>" maxlength="220" required />
                </div>
            </div>
            <div class="space-y-2">
                <label for="linkMaps" class="text-lg font-semibold">Link de “Embed a Map” en Google Maps</label>
                <input
                    class="h-10 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800"
                    type="text" id="linkMaps" name="linkMaps" value="<%=inmueble.linkGoogleMaps%>"
                    placeholder="<%=inmueble.linkGoogleMaps%>" maxlength="1000" />
            </div>

        </div>
    </div>

    <!-- Buttons Section -->

    <div class="px-10 pb-12 flex justify-evenly">
        <a href="#" onclick="window.history.back()"
            class="px-5 py-2 w-1/3 rounded-lg text-base text-white font-medium bg-red-600 hover:font-medium hover:bg-red-700 text-center">
            Cancelar
        </a>
        <button
            class="px-5 py-2 w-1/3 rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700 btnSubmit"
            type="submit">
            Registrar
        </button>
    </div>
</form>